<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.search.mapper.SearchItemMapper">
    <select id="getSearchItemList" resultType="com.shop.common.SearchItem">
        SELECT
            a.id,
            a.title,
            a.sell_point,
            a.image,
            a.price,
            c.`name` as category_name,
            b.item_desc
        FROM
            tb_item a,
            tb_item_desc b,
            tb_item_cat c
        WHERE
            a.id = b.item_id
          AND a.cid = c.id
    </select>
</mapper>